body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    padding: 20px;
}

h1 {
    color: #333;
}

.alerta {
    display: none;
    background-color: #ff4d4d;
    color: white;
    position: fixed;
    padding: 15px 20px;
    top: 20px;
    right: 20px;
    border-radius: 8px;
    width: 300px;
    position: right;
    margin-top: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.alerta2 {
    display: none;
    background-color: #249605;
    color: white;
    position: fixed;
    padding: 15px 20px;
    top: 20px;
    right: 20px;
    border-radius: 8px;
    width: 300px;
    position: right;
    margin-top: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}